.select2-swp-acf-si {
  align-items: center;
  display: inline-flex;
  flex-flow: row nowrap;
  vertical-align: middle;
}
.select2-swp-acf-si__icon {
  height: 32px;
  width: 32px;
}
.select2-swp-acf-si__icon:not(:last-child) {
  margin: 0 5px 0 0;
}

.select2-chosen .select2-swp-acf-si, /* v3 */
.select2-selection:not(.select2-selection--multiple) .select2-swp-acf-si /* v4 */ {
  vertical-align: top;
}
.select2-chosen .select2-swp-acf-si__icon, /* v3 */
.select2-selection .select2-swp-acf-si__icon /* v4 */ {
  height: 24px;
  width: 24px;
}



.acf-field-svg-icon .acf-error-message.-empty-choices {
  background-color: #fff8e5;
  border-left: 4px solid #ffb900;
  border-radius: 0;
  display: block;
  margin: 0;
}
.acf-field-svg-icon .acf-error-message div {
  font-size: 13px !important;
  line-height: 1.5;
  margin: 0.5em 0;
  padding: 2px;
  text-shadow: none;
  color: #23282d;
}
.acf-field-svg-icon .acf-error-message pre {
  display: inline-block;
  margin: 0;
}
.acf-field-svg-icon .acf-error-message.-empty-choices::after {
  content: normal;
}
